*{
    box-sizing: border-box;
}

.blue{
    color: blue;
}
p, li{
    color: green;
}
.pancake p{
    font-weight: 700 ;
}
.pancake:hover {
    color: black;
    background-color: rgb(248, 135, 192);
}
    h1{
    text-align: center;
}
a[href]{
    background-color: indianred;

}
a[href^="https"]{
    background-color: lightblue;
}
a[href$=".com/"]{
    font-weight: 700;
}
a:visited{
    background-color: coral;
}
a[href="https://yandex.ru/"]{
    text-decoration: midnightblue;
}
div:empty{
    width: 120px;
    height: 120px;
}
a[href*="apps"]{
    background-color: darkgreen;
}
a:active{
    border: 2px dotted firebrick;
}
a[class="link"] {
    background-color: gold;
}
a:link{
border: 2px dotted sandybrown;
}