*{
    box-sizing: border-box;
}

.blue{
    color: blue;
}
p, li{
    color: green;
}
.pancake p{
    font-weight: 700 ;
}
.pancake:hover {
    color: black;
    background-color: rgb(248, 135, 192);
}
    h1{
    text-align: center;
}
a[href]{
    background-color: indianred;

}
a[href^="https"]{
    background-color: lightblue;
}
a[href$=".com/"]{
    font-weight: 700;
}
a:visited{
    background-color: coral;
}
a[href="https://yandex.ru/"]{
    text-decoration: midnightblue;
}
div:empty{
    width: 120px;
    height: 120px;
}
a[href*="apps"]{
    background-color: darkgreen;
}
a:active{
    border: 2px dotted firebrick;
}
a[class="link"] {
    background-color: gold;
}
a:link{
    border: 2px dotted sandybrown;
}
.form {
    margin-top: 50px;
}
.pancake ol li:first-child {
    font-weight: bold;
}
.pancake ol li:last-child {
    text-decoration: underline;
}
input:optional {
border: 1px solid steelblue;
}
input:required {
    border: 1px solid gold;
}
input:valid {
    border: 1px solid green;
}
input:invalid {
    border: 1px solid red;
}
#remember:checked {
    opacity: 0.3;
}